<h1>events list</h1>

<ul>
 
 <% @events.each do |e| %>
     <li>
       <%= e.name %>
       <%= link_to "show",:controller=>"events",:action=>"show",:id=>e %>
       <%= link_to "edit", :controller=>"events",:action=>"edit",:id=>e%> 
       <%= link_to "delete",:controller=>"events",:action=>"destroy",:id=>e%>
     </li>
 <% end %>
 
</ul>
<%= paginate @events %>
<%= link_to 'New Event' ,:controller=>"events",:action=>"new" %>